<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; url=https://github.com/devs-des1re/syurl/">
    <title>Redirecting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
</head>
<body>
    <div class="main">
        <span class="loading-loop"></span>
        <h1 class="redirecting"></h1>
    </div>
</body>
</html>