<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>syurl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <script>
        function updateYear() {
            const copyrightElement = document.getElementById("copyright-year");
            const currentYear = new Date().getFullYear();
    
            copyrightElement.innerText = currentYear;
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            updateYear();
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="checkbutton">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/" class="logo">syurl</a>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/github">Github</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="url-shortener">
            <h1 class="url-title">Shorten your link here</h1>
            <form method="POST" class="url-form">
                <input type="text" name="url-input" placeholder="Enter your url here" class="url-input">
                <input type="submit" value="Shorten" class="url-submit"><br/>
            </form>
        </div>

        <div class="url-information">
            <h1>What can it be used for?</h1>
            <pre>It can be used on the most popular of links to just normal long links. 
                Enter in your url and then click shorten to generate a short url. 
                Now you have a short url!
            </pre>

            <h1>Why was it created?</h1>
            <pre>It was created so that you can have more clean short links.
                No hassle, clean looks as always...
            </pre>
        </div>
    </main>

    <footer>
        <nav>
            <ul class="footer-links">
                <li><a href="/terms-of-service">Terms Of Service</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </nav>
        <h1 class="footer-copyright">&copy <span id="copyright-year"></span> syurl. All rights reserved.</h1>
    </footer>
</body>
</html>